/* 
    TODO:
    - Add animation for aboutMe and each category
    - Change margins for personalInfoContainer
    - Actually fill in the data from my resume
    - Spruce up the color palette
    - Add projects section, even if it is a little baren
*/

#body {
    background-color: #DDDDDD;
}

.noSelect {
    webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

::selection {
    background-color: #393E46;
    color: #DDDDDD;
}

.blkTxt {
    color: #393E46;
}

#headingContainer {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    position: absolute;
    right: 0;
    text-align: center;
    width: 50%;
}

#intro {
    font-family: 'Montserrat', sans-serif;
    margin-top: 2%;
}

#name {
    border-width: 2px;
    border-style: none none solid none;
    border-color: #393E46;
    display: inline-block;
    font-family: 'Yellowtail', cursive;
    font-weight: 100;
    font-size: 4em;
    margin-top: 10px;
    width: auto;
}

#contactInfoContainer {
    display:inline-block;
    margin-left: 2%;
    margin-top: 2%;
    position: absolute;
}

#contactInfoHead {
    border-color: #393E46;
    border-style: none none solid none;
    border-width: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
}

ion-icon {
    color: #393E46;
}

.contactInfoIcon {
    cursor: pointer;
    display: inline;
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    transition: transform .3s ease-out;
    z-index: 2;
}

.phone {
    text-align: center;
}

.email {
    margin-top: 39.792px;
}

.address {
    margin-top: 79.584px;
}

.github {
    margin-top: 119.376px;
}

.gitText {
    font-weight: bold;
}

.contactInfo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 28px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-left: 50px;
    z-index: -1;
}

.contactInfoHider {
    background-color: #DDDDDD;
    height: 28px;
    position: absolute;
    right: 15px;
    transition: transform .3s ease-out;
    width: 246.41px;
    z-index: 1;
}

.CIH1 {
    margin-top: 39.792px;
}

.CIH2 {
    margin-top: 79.584px;
}

.CIH3 {
    margin-top: 119.376px;
}

#personalInfoContainer {
    display:inline-block;
    margin-right: 2%;
    margin-top: 2%;
    position: absolute;
    right: 0;
    text-align: center;
    width: 296.41px;
}

#personalInfoHead {
    border-color: #393E46;
    border-style: none none solid none;
    border-width: 1px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}

#personalInfoChoiceFieldset {
    border-color: #393E46;
    border-style: none none solid none;
    border-width: 1px;
    margin-top: 2%;
}

.personalInfoChoiceLabels {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 28px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

.personalInfoContent {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    left: 0;
    line-height: 28px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 140px;
}

.personalInfoCool {
    font-family: 'Yellowtail', cursive;
    font-size: 2em;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 0;
}

#personalInfoContentYeah {
    visibility: hidden;
}

#personalInfoContentNah {
    visibility: hidden;
}

#expIntro {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

#aboutMeBtn {
    align-items: center;
    border: 2px solid #393E46;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    height: auto;
    position: relative;
}

#aboutMeBtn:after {
    background-color: #393E46;
    border-radius: 8px;
    content: "";
    display: block;
    height: 29px;
    left: 0;
    position: absolute;
    top: -2px;
    transition: transform .2s ease-out;
    transform: translate(8px,8px);
    width: 100%;
    z-index: -1;
}

#aboutMeBtn:hover:after {
    transform: translate(0,0);
}

#aboutMeBtn:active {
    background-color: #ffdeda;
    outline: 0;
}

#aboutMeBtn:hover {
    outline: 0;
}



#aboutMeBtnText {
    display: inline-block;
    font-family: 'Montserrat:ital,wght@1,500', sans-serif;
    font-size: 1.5em;
    font-style: italic;
}

#aboutMeContent {
    margin-left: auto;
    margin-right: auto;
    transition: transform .2s ease-out;
    visibility: hidden;
    width: 45%;
}

.expTag {
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    
}

.expArrow {
    position: relative;
    top: 4px;
    transition: transform .2s ease-out;
}

.expInfo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.edHeader {
    border-color: #393E46;
    border-style: none none solid none;
    border-width: 1px;
    display: inline;
    font-size: 1.1em;
}